<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-2">
        <form class="form-horizontal" name="form" ng-submit="login(form)" novalidate>
            <fieldset>
                <legend>
                    <img src="assets/img/Lock.png" /> Please enter your Username and Password
                </legend>
                <b-input type="email" model="user.email" required="true"></b-input>
                <b-input type="password" model="user.password" required="true"></b-input>
            </fieldset>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <b-input type="submit"></b-input>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="/signup">Register</a>
                </div>
            </div>
        </form>
        <!-- <hr>
        <div>
            <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                <i class="fa fa-facebook"></i> Connect with Facebook
            </a>
                    <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                        <i class="fa fa-google-plus"></i> Connect with Google+
                    </a>
                    <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                        <i class="fa fa-twitter"></i> Connect with Twitter
                    </a>
                </div>
        </form>
        </div> -->
    </div>
    <div class="col-md-3"></div>
</div>
