<div class="row">
    <div class="col-md-4">
        <h1>Events List</h1>
    </div>
    <div class="col-md-4">
        <img src="assets/img/Omaha.png" width="400px">
    </div>
    <div class="col-md=4">
    </div>
</div>
<br>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self">
         <span class="glyphicon glyphicon-tasks"></span> 
          Search for Events
        <span class =" spangglyph glyphicon glyphicon-chevron-down"></span>
          
        </a>
      </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-horizontal">
                    <b-input model="searchParams.name"></b-input>
                    <b-input type="select" source="interests" label="Interest" model="searchParams.interest_id"></b-input>
                    <b-input model="searchParams.address"></b-input>
                    <b-input model="searchParams.city"></b-input>
                    <b-input type="select" source="states" label="State" model="searchParams.state"></b-input>
                    <b-input model="searchParams.zip"></b-input>
                    <b-input type="email" model="searchParams.email"></b-input>
                    <b-input type="tel" model="searchParams.phone"></b-input>
                </div>
                <br />
                <button class="btn btn-primary" ng-click="search()">Search</button>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Description</th>
            <th></th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events">
            <td>
                <a href="/#/event/view/{{event._id}}" ng-bind="event.name"></a>
            </td>
            <td>
                <a href="/#/organization/view/{{event.organization_id}}">TODO</a>
            </td>
            <td>
                <div class="row" align="justify">
                    {{event.description | limitTo: 20}}...
                </div>
            </td>
            <td></td>
            <td>
                {{event.contact_first_name}} {{event.contact_last_name}}
            </td>
            <td>
                <a href="mailto:{{event.email}}">
                    {{event.email}}
                </a>
            </td>
            <td>
                <span ng-if="Auth.isOrgAdminFor(event.organization_id)">
                    <a href="/event/edit/{{event._id}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                <update-status update-id="{{event._id}}" status="{{event.status}}" model-obj="Event"></update-status>
                </span>
            </td>
        </tr>
    </tbody>
</table>
