<!-- First Row: consists of two col: image and event details -->
<div class="row">
    <!-- Event Image -->
    <div class="col-md-7">
        <div align="center" style="max-height:350px;overflow:auto;">
            <img ng-src="{{event.photo}}" alt="Event Profile Image" style="max-width:600px; max-height:350px">
        </div>
        <br>
    </div>
    <!-- Event Contact Information: when, where who etc -->
    <div class="col-md-5">
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-briefcase"></span> EVENT DETAILS for
                <strong>{{event.name}}</strong>
            </div>
            <div class="panel-body">
                <table style="border-spacing: 10px; border-collapse: separate">
                    <tr>
                        <td style="vertical-align: top; width:10px">
                            <label>Where:</label>
                        </td>
                        <td>
                            <address>
                                {{event.address}}
                                <br> {{event.city}}, {{event.state}} {{event.zip}}
                                <br>
                            </address>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>When:</label>
                        </td>
                        <td>
                            <!--                             <?php echo "From -> ".date("l, F d, Y - g:i A", strtotime($event['Event']['start_time']))."<br>To ->  ".date("l, F d, Y - g:i A", strtotime($event['Event']['end_time']));?> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width:10px">
                            <label>Contact:</label>
                        </td>
                        <td>
                            {{event.contact_first_name}} {{event.contact_last_name}}
                            <br>
                            <a href="mailto:{{event.email}}">
                                {{event.email}}
                            </a>
                            <br>
                            <!-- TODO: format -->
                            {{event.phone}}
                        </td>
                    </tr>
                    <!-- <?php if($this->Auth->isLoggedIn()){ ?> -->
                    <!-- <tr>
    <td>
        <label>Register:</label>
    </td>
    <td>
        <a href="/#/registration/add/{{event._id}}"> Volunteer NOW!!!</a>
    </td>
</tr>
 -->
                    <?php }?>
                        <tr>
                            <td>
                                <label><small>Posted on:</small></label>
                            </td>
                            <td>
                                <!-- TODO: format -->
                                {{event.created}}
                            </td>
                        </tr>
                        <!-- <?php if($this->Auth->isOrgAdminFor($event['Event']['organization_id']) ){ ?> -->
                        <tr>
                            <td>
                                <a href="/event/edit/{{event._id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            </td>
                            <td>
                                <a href="/event/admin/{{event._id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span>Admin</a>
                            </td>
                        </tr>
                        <!-- <?php ;}?> -->
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Second Row: consists of Event Description and organization short_Desciption -->
<div class="row">
    <!-- TODO make this a fixed height, any additional content needs to be scrollable -->
    <!-- EVENT Description  -->
    <div class="col-md-7">
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-th-list"></span><strong> Event Description</strong></div>
            <div class="panel-body">
                <pre style="height: 390px" ng-bind="event.description"></pre>
            </div>
        </div>
    </div>
    <!-- Registration portlet -->
    <div class="col-md-5">
        <div ng-if="user" class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-registration-mark"></span>
                <strong>
                    <span ng-if="registration">
                        Register for {{event.name}}
                    </span>
                    <span ng-if="currentRegistration">
                        Current registration for {{event.name}}
                    </span>
                </strong>
            </div>
            <div class="panel-body" style="height: 425px">
                <br>
                <br>
                <!-- <?php 
                        if($registration_mode == "ADD"){
                            echo $this->Form->create('Registration', array(
                                    'url' => array('controller' => 'registrations', 'action' => 'add', $event['Event']['id'])
                            ));
                            echo $this->Form->input('user_id', array('type' => 'hidden','value' => $user_id));
                            echo $this->Form->input('event_id', array('type' => 'hidden','value' => $event['Event']['id']));
                            echo $this->Form->datePicker('start_time');
                            echo $this->Form->datePicker('end_time');
                            echo $this->Form->input('comment', array('type' => 'textarea', 'rows' => '5', 'cols' => '5'));
                            echo $this->Form->end('Save');
                        }
                        else{
    
                            echo '<label>Start Time: &nbsp;</label>' . date ("l F d, Y", strtotime($registration['Registration']['start_time'])); '<br /><br />';
                            echo '<label>End Time: &nbsp;</label>' . $registration['Registration']['end_time'] . '<br /><br />';
                            echo '<label>Comment: &nbsp;</label>' . $registration['Registration']['comment'] . '<br /><br />';
                        }?>
 -->
                <form ng-if="registration" name="form" ng-submit="register(form)" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <b-input type="textarea" model="registration.comment" rows="5" cols="5"></b-input>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div align="right">
                                <b-input type="submit"></b-input>
                            </div>
                        </div>
                    </div>
                </form>
                <form ng-if="currentRegistration" name="form" ng-submit="saveCurrentRegistration(form)" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <b-input type="number" model="currentRegistration.hours"></b-input>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div align="right">
                                <b-input type="submit"></b-input>
                            </div>
                        </div>
                    </div>
                </form>
                <button ng-if="currentRegistration" ng-click="unregister()">Unregister</button>
                <!--             <?php }}
                    else {?>
                <div class="panel panel-warning">
                    <div class="panel-heading"><span class="glyphicon glyphicon-registration-mark"></span><b> Register for <?php echo $event['Event']['name']; ?></b>
                    </div>
                    <div class="panel-body" style="height: 425px">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p align="center" style="font-size:24px">Please
                            <b><a href="/volunteeromaha/login">Login</a></b> or
                            <b><a href="/volunteeromaha/register">Sign up</a></b>
                            <br> to Participate in this event.
                        </p>
                    </div>
                </div>
                <?php } ?> -->
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Third row: last row: Consists of MAp and Registration protlet -->
<div class="row">
    <!-- Make this possibly long description as the map col is a fixed set -->
    <!-- ORGANIZATION information use 'short_description' -->
    <!-- ??What if there are multiple organizations sponsoring? soln- include only the primary??-->
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-star"></span> Sponsor Organization: <strong><a href="/#/organization/view/{{event.organization_id._id}}">{{event.organization_id.name}}</a></strong>
            </div>
            <div class="panel-body" align="center" style="word-wrap:normal; vertical-align:center">
                <pre style="height: 390px"><?php echo $event['Organization']['long_description']; ?></pre>
            </div>
        </div>
    </div>
    <!--  MAP -->
    <div class="col-md-5">
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-map-marker"></span> MAP</div>
            <div class="panel-body">
                <?php if(isset($mapAddress)) {?>
                    <input id="mapAddress" type="hidden" value="<?php echo $mapAddress; ?>" />
                    <div id="map-canvas" style="height: 390px; box-shadow: rgb(190, 190, 190) 0px 0px 5px 1px;"></div>
                    <?php }?>
            </div>
        </div>
    </div>
</div>
