<div class="container">
    <hr>
    <footer class="footerfont">
        <div class="row">
            <div class="col-md-3 footerdiv">
                <img src="assets/img/Logoblack.png" alt="Volunteer Omaha" height="40px">
                <strong><br>Peter Kiewit Institute (PKI) 170 <br>
        402.554.3819 <br>
    <a href="mailto:vomaha@gmail.com?Subject=Hello%20again" target="_top">vomaha@gmail.com</a>
    
        </strong>
            </div>
            <div class="col-md-3">
                <b>Related Resources</b>
                <br>
                <ul>
                    <li><a href="/#/about">What is Volunteer Omaha?</a></li>
                    <li><a href="/#/about">What can you do as a Student?</a></li>
                    <li><a href="/#/about">What can Organizations do?</a></li>
                    <li><a href="/#/about">Who created Volunteer Omaha?</a></li>
                </ul>
            </div>
            <div class="col-md-3 footerdiv">
                <b>How Can We Help You?</b>
                <br>
                <ul>
                    <li><a href="/#/faq">How to use a Date Picker?</a></li>
                    <li><a href="/#/faq">How to edit Profile Photos?</a></li>
                    <li><a href="/#/faq">How to change Organization Profile?</a></li>
                    <li><a href="/#/contact">Have any other questions?</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <b>Welcome to Volunteer Omaha!</b>
                <br> Explore our website for Organizations and Volunteer Opportunities! Contribute to your community by participating!
                <p>&copy; Volunteer Omaha 2014</p>
            </div>
        </div>
    </footer>
</div>