<div class="container-fluid">
    <!-- First Row contains Profile Name and Picture of Omaha -->
    <div class="row">
        <div class="col-md-6">
            <h1>Profile for <strong ng-bind="user.name">
            </strong></h1>
        </div>
        <div class="col-md-6">
            <img src="assets/img/Omaha.png" width="400px">
        </div>
    </div>
    <br>
    <!-- Second Row Divide into three col of 2, 5, 5 -->
    <div class="row">
        <!-- First col will have all the administrative items -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self">
                  <span class="glyphicon glyphicon-globe"></span> Organizations<span class="spangglyph glyphicon glyphicon-chevron-down"></span>
                </a>
              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/#/organization">Search for Organizations</a>
                                            <br/>
                                            <br/>
                                        </li>
                                        <li><a href="/#/organization/add">Create a New Organization</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self"> <span class="glyphicon glyphicon-ok-sign"></span> 
                          My Activities 
                          <span class ="spangglyph glyphicon glyphicon-chevron-down"></span>
                        </a>
                      </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/#/event">Search for Events</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li><a href="/#/registrations?user_id=">My Registrations</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li><a href="/#/hours?user_id=">View Hours</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div ng-if="Auth.isOrgAdmin()" class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                         <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self">
                            <span class="glyphicon glyphicon-list"></span> 
                            Administer
                            <span class =" spangglyph glyphicon glyphicon-chevron-down"></span> </a>
                      </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-if="Auth.isAdmin()">
                                            <a href="/#/user">Search for Users</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li ng-if="Auth.isAdmin()">
                                            <a href="/#/interest">Administer Interests</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li ng-if="Auth.isAdmin()">
                                            <a href="/#/organization">Administer Organizations</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li>
                                            <a href="/#/event">Administer Events</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li>
                                            <a href="/#/registration">Administer Registrations</a>
                                            <br />
                                            <br />
                                        </li>
                                        <li>
                                            <a href="/#/hour">Administer Hours</a>
                                            <br />
                                            <br />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- Second Col : Profile Information -->
                <div class="col-md-8">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Basic Info</h3>
                        </div>
                        <div class="panel-body">
                            <center>
                                <img ng-if="user && user.photo" ng-src="{{user.photo}}" width="100px" height="100px" class="img-thumbnail">
                                <font ng-if="!user.photo" size="45" class="glyphicon glyphicon-user"></font>
                            </center>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-8" ng-bind="user.name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-8">
                                    <a href="mailto:{{user.email}}" ng-bind="user.email">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Address:</label>
                                </div>
                                <div class="col-md-8" style="vertical-align: top;">
                                    {{::user.address}}
                                    <br /> {{::user.city}}, {{::user.state}} {{::user.zip}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Phone:</label>
                                </div>
                                <div class="col-md-8" ng-bind="user.phone | tel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Joined:</label>
                                </div>
                                <div class="col-md-8" ng-bind="user.createdAt | date:'MM/dd/yyyy'">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Interests:</label>
                                </div>
                                <div class="col-md-8">
                                    <span ng-repeat="interest in user.interests">
                                        {{::interest}}
                                        <br>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="/user/edit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                </div>
                                <div class="col-md-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Insert map here -->
            <!-- <?php if(isset($mapAddress)) {?> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i> Location</h3>
                        </div>
                        <div class="panel-body">
                            <!-- <input id="mapAddress" type="hidden" value="<?php echo $mapAddress; ?>" /> -->
                            <div id="map-canvas" style="height: 400px; box-shadow: rgb(190, 190, 190) 0px 0px 5px 1px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <?php }?> -->
        </div>
        <!-- Second Col : Role and Registration Lists -->
        <div ng-if="Auth.isMine(user._id) || Auth.isAdmin()" class="col-md-6">
            <!-- Roles section -->
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i> Roles</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Role</th>
                                <th>Role Status</th>
                                <th>Organization</th>
                                <th>Organization Status</th>
                            </tr>
                            <tr ng-repeat="role in user.roles">
                                <td ng-bind="role.role"></td>
                                <td ng-bind="role.status"></td>
                                <td>
                                    <a ng-if="role.organization_id" href="/#/organization/view/{{role.organization_id}}">TODO</a>
                                </td>
                                <td>
                                    <!-- <?php echo $member['ORG_Status']['status']; ?> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2nd Row on the third col containing all registraion table for this profile/user -->
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-time"></i> All  registrations</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registartions for events table -->
                        <table class="table">
                            <tr>
                                <th style="width:300px">Event</th>
                                <th style="width:300px">Organization</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th> Hour </th>
                                <th>Status</th>
                            </tr>
                            <tr ng-repeat="event in user.events">
                                <td>
                                    <a href="/#/event/view/{{event._id}}" ng-bind="event.name"></a>
                                </td>
                                <td>
                                    <a href="/#/organization/view/{{event.organization_id._id}}" ng-bind="event.organization_id.name"></a>
                                </td>
                                <td>
                                    {{::event.start_time | date:"EEEE, MMM d, y h:mm a"}}
                                </td>
                                <td>
                                    {{::event.end_time | date:"EEEE, MMM d, y h:mm a"}}
                                </td>
                                <td ng-bind="event.registrations[0].hours">
                                </td>
                                <td ng-bind="event.registrations[0].status">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of second row with 3 col -->
</div>
