<h1 align="center">Registration Information:</h1>
<br>
<br>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>
                    <Strong> User Info:</Strong>
                </div>
                <div class="panel-body">
                    <center>
                        <img ng-src="{{user.photo}}" alt="User Profile Image" height="300px">
                    </center>
                    <br>
                    <br>
                    <table style="border-spacing: 5px; border-collapse: separate">
                        <tr>
                            <td style="vertical-align: top; width:10px">
                                <label>Name:</label>
                            </td>
                            <td>
                                <a href="/#/user/profile/{{registration.user_id._id}}" ng-bind="{{registration.user_id.name}}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>User id: </label>
                            </td>
                            <td ng-bind="registration.user_id.email">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width:10px">
                                <label>Comments:</label>
                            </td>
                            <td ng-bind="registration.comment">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading"><span class="glyphicon glyphicon-home"></span><strong> Event Info</strong></div>
                <div class="panel-body">
                    <center>
                        <img ng-src="{{event.photo}}" alt="Event Profile Image" height="300px">
                        <br>
                    </center>
                    <br>
                    <br>
                    <table style="border-spacing: 5px; border-collapse: separate">
                        <tr>
                            <td style="width:100px">
                                <label>Name:</label>
                            </td>
                            <td>
                                <a href="/#/event/view/{{event._id}}" ng-bind="event.name">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Start time: </label>
                            </td>
                            <td ng-bind="registration.start_time">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width:10px">
                                <label>Due to end at:</label>
                            </td>
                            <td ng-bind="registration.end_time">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--         <?php if($registration['Registration']['status_id'] == 2 || $this->Auth->isOrgAdminFor($registration['Event']['organization_id'])){?> -->
        <a ng-if="registration.hours" href="/hour/edit/{{registration.hour_id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span>Edit hours</a>
        <a ng-if="!registration.hours" href="/hour/add/{{registration._id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span>Log hours</a>
        <!--                     
                        <?php }?> -->
    </div>
</div>
