<table class="table">
    <tr>
        <th>User</th>
        <th>Organization</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>
            <a href="/#/profile/{{::user._id}}">{{::user.name}}</a>
        </td>
        <td>
            <a href="/#/organization/view/{{::user.roles.organization_id}}">{{::user.roles.organization_name}}</a>
        </td>
        <td>
            {{::user.roles.role}}
        </td>
        <td>
            {{::user.roles.status}}
        </td>
        <td>
            <update-status update-id="{{organization._id}}" status="{{organization.status}}" model-obj="Organization"></update-status>
        </td>
        <!-- <?php
            
                $temp_role_id = $member['Member']['role_id'];
                $temp_org_id = $member['Member']['organization_id'];
            
                //if they are a secondary org admin, only primary org admins can approve or dissaprove
                if( ($temp_role_id == 3) && $this->Auth->isOrgAdmin($temp_org_id, 2)){
                    echo $this->element('update_status', 
                        array(
                            'orgId' => $temp_org_id,
                            'statusId' => $member['Status']['id'], 
                            'updateId' => $member['Member']['id'], 
                            'defaultAction' => 'updateMemberStatus'
                    ));
                }
                
                //if they are a student - any org admin can approve
                else if( ($temp_role_id == 4) && ($this->Auth->isOrgAdminFor($temp_org_id))){
                    echo $this->element('update_status',
                         array(
                            'orgId' => $temp_org_id,
                            'statusId' => $member['Status']['id'], 
                            'updateId' => $member['Member']['id'], 
                            'defaultAction' => 'updateMemberStatus'
                    ));
                }
            
            ?>
 -->
    </tr>
</table>
