<table class="table">
    <tr>
        <th style="width:100px">User</th>
        <th style="width:200px">Event</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hours</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="event in events">
        <td>
            <a href="/#/profile/{{::event.registrations.user_id}}">{{::event.registrations.user_name}}
            </a>
        </td>
        <td>
            <a href="/#/event/view/{{::event._id}}">{{::event.name}}</a>
        </td>
        <td>
            {{::event.registrations.start_time}}
        </td>
        <td>
            {{::event.registrations.end_time}}
        </td>
        <td>
            {{::event.registrations.hours}}
        </td>
        <td>
            <span ng-if="canUpdate(event.registrations.user_id, event.organization_id)">
                <update-status update-id="{{event.registrations._id}}" status="{{event.registrations.status}}" event-id="{{event._id}}" model-obj="Registration"></update-status>
            </span>
            <span ng-if="event.registrations.hours >= 0 && canUpdate(event.registrations.user_id, event.organization_id)">
                <update-status update-id="{{event.registrations._id}}" status="{{event.registrations.hour_status}}" event-id="{{event._id}}" model-obj="Hour" label="Hours"></update-status>
            </span>
            <!--
                <button type="button" class="btn btn-default btn-sm" id="buttonlink">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <?php echo $this->Html->link('Edit', array('controller' => 'registrations', 'action' => 'edit', $registration['Registration']['id'])); ?>
                </button>
                <button type="button" class="btn btn-default btn-sm" id="buttonlink">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <?php echo $this->Html->link('View', array('controller' => 'registrations', 'action' => 'view', $registration['Registration']['id'])); ?>
                </button>
                <?php if($registration['Registration']['status_id'] == 2 || $this->Auth->isOrgAdminFor($registration['Event']['organization_id'])){?>
                    <?php 


                if(isset($registration['Hour']['hours'])) { ?>
                        <button type="button" class="btn btn-default btn-sm" id="buttonlink">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <?php echo $this->Html->link('Edit hours', array('controller' => 'hours', 'action' => 'edit', $registration['Hour']['id'])); ?>
                        </button>
                        <?php }else{ ?>
                            <button type="button" class="btn btn-default btn-sm" id="buttonlink">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <?php echo $this->Html->link('Log hours', array('controller' => 'hours', 'action' => 'add', $registration['Registration']['id'])); ?>
                            </button>
                            -->
        </td>
    </tr>
</table>
